body {
	margin:40px auto;
	max-width:66%;
	line-height:1.6;
	font-size:16px;
	color:#5C5346;
	background:#CFE0C3;
	padding:0 10px
}

h1,h2,h3{
	line-height:1.2;
}

h1 {
	text-align: center;
	margin-bottom: 1em;
}

a {
	color:#F55536;
	font-weight: 600;
}
