body {
    color: #222;
    background-color: #eee;
    margin: 0 auto; /* center it */
    width: 36em;
    max-width: 100%;
}

header > a {
    text-decoration: none;
}

/* body text */
#content {
    /*
    width: 36em;
    max-width: 100%;
    */
    font-size: 18px;
    line-height: 120%;
    font-family: Garamond;
}

@media only and screen (max-width: 420px) {
    #content {
        font-size: 16px;
    }

}

/* title */
.title {
    font-weight: normal;
    font-size: 32px;
    font-family: Constantia, Garamond;
    font-variant-ligatures: common-ligatures;
}

.title, h2 {
    font-weight: normal;
    font-family: Constantia, Garamond;
    font-variant-ligatures: common-ligatures;
    text-align: left;
}

h1, h2 {
    font-size: 19px;
    margin-bottom: 2px
}

/* book tab style tables */
